# Node.js
node_modules/
npm-debug.log

# Environment files
.env

# Docker
docker-compose.override.yml
*.log

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfplan
*.tfvars

# Large binaries
*.exe
*.zip
*.tar.gz

# VSCode / IDE
.vscode/
.idea/
